body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
  background-image: url("img/background-photo-main.PNG")/*;перенести в section*/
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-menu {
  font-size: 14px;
   line-height: 20px;
   color: #000000;
   background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}
.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.features-list {
  list-style: none;
}

.feature-item {
  text-align: center;
  }

.featured-item h3 {
  font-size: 21px;
  line-height: 25px;
  font-weight: bold;
  color: #ffffff;
}

.featured-item-in h3 {
  font-size: 21px;
  line-height: 25px;
  font-weight: bold;
  color: #000000;
}

.intro {
  background-image: url("../img//background-photo-main.png");
  background-color: #2D383C;
  background-repeat: no-repeat;
  text-align: center;
  background-size: 100%;
}

.search-hotels {
  background-color: #766357;
  color: white;
  border: 0;
}

.search {
  background-color: #81b3d2;
  color: white;
  border: 0;
}

.filters {
  background-image: url("../img//filter-background-hotels.png");
  background-color: #2D383C;
  background-repeat: no-repeat;
  text-align: center;
  background-size: 100%;
}

.found-hotel > h3 > a {
  color: #000000;
}

.about-hotel {
  background-color: #81b3d2;
  color: white;
}

.hotel-book {
  background-color: #766357;
  color: white;
}

.rating {
  background-color: #f2f2f2;
  width: 110px;
  height: 27px;
}

.social-button {
  background-color: #81b3d2;
  color: white;
}
