body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
  background-image: url("img/background-photo-main.PNG")/*;перенести в section*/
  background-position: top center;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  background-color: none;
  justify-content: center;
}

a {
  text-decoration: none;
}

.logo {
  align-items: center;
  position: absolute;
  transform: translate(525px);
}

.img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-menu {
  font-size: 14px;
   line-height: 20px;
   color: #000000;
   background-color: #ffffff;

   display: flex;
   flex-direction: column;
}

.site-navigation {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.site-navigation a {
  color: #000000;
}



.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.3);
}


.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.features {
  text-align: center;
}

.feature-item {
  width: 400px;
  }

.featured-item h3 {
  font-size: 21px;
  line-height: 25px;
  font-weight: bold;
  color: #ffffff;
}

.featured-item-in h3 {
  font-size: 21px;
  line-height: 25px;
  font-weight: bold;
  color: #000000;
}

.intro {
  background-image: url("../img//background-photo-main.png");
  background-color: #2D383C;
  background-repeat: no-repeat;
  text-align: center;
  background-size: 100%;
}

.search-hotels {
  background-color: #766357;
  color: white;
  border: 0;
  margin: 0 auto;
  width: 568px;
  height: 86px;
}

.search {
  background-color: #81b3d2;
  color: white;
  border: 0;
  margin: 0 auto;
  width: 458px;
  height: 58px;
}

.filters {
  background-image: url("../img//filter-background-hotels.png");
  background-color: #2D383C;
  background-repeat: no-repeat;
  background-size: 100%;

}

.filters-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.infrastructure {
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.type {
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.found-list {
  border-top: 1px;
  border-color: rgba(0, 1, 1, 0.2);
}

.found-hotel {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.found-hotel > img {
  width: 135px;
  height: 90px;
  margin-right: 30px;
}

.hotel-container-1 > h3 > a {
  color: #000000;
}

.hotel-container-1 {
  display: flex;
  flex-direction: column;

  line-height: 10px;
  margin-right: auto;
}

.hotel-container-2 {
  display: flex;
  flex-direction: column;

  padding-right: 72px;
  margin-left: 638px;
}

.about-hotel {
  background-color: #81b3d2;
  color: white;
}

.hotel-book {
  background-color: #766357;
  color: white;
}

.rating {
  background-color: #f2f2f2;
  width: 110px;
  height: 27px;
  text-align: center;
}

.proposal {
  text-align: center;
}

.modal.modal-search > form {
  margin: 0 auto;
  width: 568px;
  height: 395px;
  padding: 55px;
  margin-bottom: 30px;
}

.map {
  margin: 0 auto;
  width: 1200px;
  height: 593px;
  background-color: grey;
}

.main-footer {
  background: none;
  min-height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.visit {
  margin: 0;
  width: 400px;

  display: flex;
  justify-content: center;
}

.footer-social {
  width: 400px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
}

.footer-copyright {
  margin: 0;
  width: 400px;

  display: flex;
  justify-content: center;
}

.social-button {
  background-color: #81b3d2;
  color: white;

  display: block;
  width: 46px;
  height: 48px;
}

.twitter {
  padding-top: 17px;
  padding-left: 14px;
}

.facebook {
  padding-top: 13px;
  padding-left: 16px;
}

.youtube {
  padding-top: 16px;
  padding-left: 13px;
}

/*Сложный фильтр*/
.filter-range {
  width: 330px;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}
