body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
  background-image: url("img/background-photo-main.PNG")/*;перенести в section*/
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.main-menu {
  font-size: 14px;
   line-height: 20px;
   color: #000000;
   background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}
.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.features-list {
  list-style: none;
}

.feature-item {
  text-align: center;
  }

.featured-item h3 {
  font-size: 21px;
  line-height: 25px;
  font-weight: bold;
  color: #ffffff;
}

.featured-item-in h3 {
  font-size: 21px;
  line-height: 25px;
  font-weight: bold;
  color: #000000;
}
.intro {
  background-image: url("../img//background-photo-main.PNG");
}

.search-hotels {
  background-color: #766357;
  color: white;
}
.search {
  background-color: #81b3d2;
  color: white;
}

.social-button {
  background-color: #81b3d2;
  color: white;
}
